Webservice/WebserviceClientAdmin/Service References/ServiceReferenceWebservice/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50894/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50894/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50894/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Webservice" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_SignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUp" />
  </wsdl:message>
  <wsdl:message name="IService1_SignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IService1_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LogOut_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="IService1_LogOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOutResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_IsAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsLoggedIn_InputMessage">
    <wsdl:part name="parameters" element="tns:IsLoggedIn" />
  </wsdl:message>
  <wsdl:message name="IService1_IsLoggedIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsLoggedInResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetExercicio_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExercicio" />
  </wsdl:message>
  <wsdl:message name="IService1_GetExercicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExercicioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetExerciciosByNome_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExerciciosByNome" />
  </wsdl:message>
  <wsdl:message name="IService1_GetExerciciosByNome_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExerciciosByNomeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddExercicio_InputMessage">
    <wsdl:part name="parameters" element="tns:AddExercicio" />
  </wsdl:message>
  <wsdl:message name="IService1_AddExercicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddExercicioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteExercicioisByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExercicioisByTitle" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteExercicioisByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExercicioisByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRestaurantes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRestaurantes" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRestaurantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRestaurantesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRestaurantesByNome_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRestaurantesByNome" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRestaurantesByNome_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRestaurantesByNomeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddRestaurante_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRestaurante" />
  </wsdl:message>
  <wsdl:message name="IService1_AddRestaurante_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRestauranteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteRestauranteByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRestauranteByTitle" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteRestauranteByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRestauranteByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVegetais_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVegetais" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVegetais_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVegetaisResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVegetaisByNome_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVegetaisByNome" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVegetaisByNome_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVegetaisByNomeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddVegetal_InputMessage">
    <wsdl:part name="parameters" element="tns:AddVegetal" />
  </wsdl:message>
  <wsdl:message name="IService1_AddVegetal_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddVegetalResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteVegetaisByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVegetaisByTitle" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteVegetaisByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVegetaisByTitleResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="SignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SignUp" message="tns:IService1_SignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SignUpResponse" message="tns:IService1_SignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LogIn" message="tns:IService1_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LogInResponse" message="tns:IService1_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LogOut" message="tns:IService1_LogOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LogOutResponse" message="tns:IService1_LogOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsAdmin" message="tns:IService1_IsAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsAdminResponse" message="tns:IService1_IsAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsLoggedIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsLoggedIn" message="tns:IService1_IsLoggedIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsLoggedInResponse" message="tns:IService1_IsLoggedIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExercicio">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetExercicio" message="tns:IService1_GetExercicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetExercicioResponse" message="tns:IService1_GetExercicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExerciciosByNome">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetExerciciosByNome" message="tns:IService1_GetExerciciosByNome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetExerciciosByNomeResponse" message="tns:IService1_GetExerciciosByNome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddExercicio">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddExercicio" message="tns:IService1_AddExercicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddExercicioResponse" message="tns:IService1_AddExercicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteExercicioisByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteExercicioisByTitle" message="tns:IService1_DeleteExercicioisByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteExercicioisByTitleResponse" message="tns:IService1_DeleteExercicioisByTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRestaurantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRestaurantes" message="tns:IService1_GetRestaurantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRestaurantesResponse" message="tns:IService1_GetRestaurantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRestaurantesByNome">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRestaurantesByNome" message="tns:IService1_GetRestaurantesByNome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRestaurantesByNomeResponse" message="tns:IService1_GetRestaurantesByNome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRestaurante">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddRestaurante" message="tns:IService1_AddRestaurante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddRestauranteResponse" message="tns:IService1_AddRestaurante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRestauranteByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteRestauranteByTitle" message="tns:IService1_DeleteRestauranteByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteRestauranteByTitleResponse" message="tns:IService1_DeleteRestauranteByTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVegetais">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetVegetais" message="tns:IService1_GetVegetais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetVegetaisResponse" message="tns:IService1_GetVegetais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVegetaisByNome">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetVegetaisByNome" message="tns:IService1_GetVegetaisByNome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetVegetaisByNomeResponse" message="tns:IService1_GetVegetaisByNome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddVegetal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddVegetal" message="tns:IService1_AddVegetal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddVegetalResponse" message="tns:IService1_AddVegetal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVegetaisByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteVegetaisByTitle" message="tns:IService1_DeleteVegetaisByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteVegetaisByTitleResponse" message="tns:IService1_DeleteVegetaisByTitle_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignUp">
      <soap:operation soapAction="http://tempuri.org/IService1/SignUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/IService1/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap:operation soapAction="http://tempuri.org/IService1/LogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/IsAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsLoggedIn">
      <soap:operation soapAction="http://tempuri.org/IService1/IsLoggedIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExercicio">
      <soap:operation soapAction="http://tempuri.org/IService1/GetExercicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExerciciosByNome">
      <soap:operation soapAction="http://tempuri.org/IService1/GetExerciciosByNome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExercicio">
      <soap:operation soapAction="http://tempuri.org/IService1/AddExercicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteExercicioisByTitle">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteExercicioisByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRestaurantes">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRestaurantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRestaurantesByNome">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRestaurantesByNome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRestaurante">
      <soap:operation soapAction="http://tempuri.org/IService1/AddRestaurante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRestauranteByTitle">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteRestauranteByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVegetais">
      <soap:operation soapAction="http://tempuri.org/IService1/GetVegetais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVegetaisByNome">
      <soap:operation soapAction="http://tempuri.org/IService1/GetVegetaisByNome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddVegetal">
      <soap:operation soapAction="http://tempuri.org/IService1/AddVegetal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVegetaisByTitle">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteVegetaisByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50894/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>